.our__container {
    display: flex;
    justify-content: space-between;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.our__block {
    width: 380px;
    height: 228px;
    background-color: wheat;
}

.our__block-pic1 {
    background-image: url("image/our1.png");
}

.our__block-pic2 {
    background-image: url("image/our2.png");
}

.our__block-pic3 {
    background-image: url("image/our3.png");
}

.our__block-pic4 {
    background-image: url("image/our4.png");
}

.our__block-pic5 {
    background-image: url("image/our5.png");
}

.our__block-pic6 {
    background-image: url("image/our6.png");
}

.our__text {
    padding-left:40px;
    padding-top: 166px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}